.main-slider {
    position: relative;

    .carousel-inner {
        .row {
            background-color: #003d66;
            .slider-left {
                position: relative;
                .carousel-indicators {
                        display: flex;
                        justify-content: flex-start;
                        transition: .5s ease;
                    button {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                    }
                }

                .text-area{
                    position: absolute;
                    left: 145px;
                    top: 25px;
                    .text {

                        
                        h5 {
                            color: white;
                        }
    
                        p {
                            color: white;
                        }
    
                        button {
                            color: white;
                            margin-top: 58px;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }

            }

            .slider-right {
                .image {
                    display: flex;
                    justify-content: center;
                    img {
                        height: 350px;
                        padding: 30px;
                    }
                }
            }
        }
    }
    .carousel-control-next {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: 0.5;
        transition: opacity 0.15s ease;
    }
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: 0.5;
        transition: opacity 0.15s ease;
    }
}


@media (max-width: 576px) { 
    .slider-left{
        width: 100%;
        position: absolute;
        left: -70px;
        .carousel-indicators{
            position: absolute;
            top: 280px;
            left: 70px;
        }
    }
    .slider-right{
        visibility: hidden;
    }
}


@media (max-width: 1200px) { 
    .slider-left{
        .carousel-indicators{
            position: absolute;
            top: 280px;
            left: 80px;
        }
    }
 }